/Apito.class
/Correr.class
/Main.class
/Nao_Voa.class
/Padrao_Correr.class
/Padrao_Grasnar.class
/Padrao_Voaveis.class
/Pato.class
/Pato_Borracha.class
/Pato_Bravo.class
/Pato_Corredor.class
/Pato_Maratonista.class
/Pato_Ruivo.class
/Voar_Foguete.class
/Voaveis_Asa.class
